.barra {

    height: 20px;
    margin: 5px;
    width: 10px;
    background-color: red
}

 h2 {

    font-size: 15px;
}


@media (min-width: 400px) {

    .barra {

        height: 80px;
        margin: 5px;
        width: 10px;
        background-color: red
    }


}